---
import Layout from "../layouts/Layout.astro";
---

<Layout>

<!-- PRESENTACIÓN -->
<section class="box-style">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center">
    <!-- IMAGEN -->
    <div class="flex justify-center md:justify-start">
      <img
        src="/personal-image.png"
        alt="Ivan Delgado"
        class="personal-image"
      />
    </div>

    <!-- TEXTO -->
    <div class="md:col-span-2 box-text space-y-4">
      <h2 class="box-general-title">Iván Delgado Alcobenda</h2>
      <h3 class="text-lg font-semibold mt-10">Técnico superior en desarrollo de software</h3>
      <p>
        Desarrollador de aplicaciones web completas, 
        con experiencia en <span class="font-semibold">Java, JavaScript (ES6+), React, Astro, PHP, Laravel y Filament</span>. 
        Me especializo en integrar <span class="font-semibold">frontend y backend</span> con bases de datos 
        como <span class="font-semibold">MySQL y MongoDB</span>, creando soluciones escalables y mantenibles.
      </p>
      <p>
        Busco formar parte de un equipo donde seguir creciendo como desarrollador, 
        aportando creatividad, compromiso y buenas prácticas en cada proyecto. 
        También me interesa explorar <span class="font-semibold">AI y LLMs</span> para mejorar procesos y automatizaciones.
      </p>
    </div>
  </div>
</section>

  <div class="separator">
    <div class="separator-line"></div>
    <div class="separator-space"></div>
    <div class="separator-line"></div>
  </div>


<!-- HABILIDADES Y CTA -->
<section class="box-style">
  <h2 class="box-general-title text-center">
    Habilidades
  </h2>

  <!-- Skills -->
  <div class="skills-container">
    <span class="skills">HTML</span>
    <span class="skills">CSS</span>
    <span class="skills">JavaScript</span>
    <span class="skills">Java</span>
    <span class="skills">TypeScript</span>
    <span class="skills">React</span>
    <span class="skills">Astro</span>
    <span class="skills">Tailwind</span>
    <span class="skills">Git</span>
    <span class="skills">GitHub</span>
    <span class="skills">PHP</span>
    <span class="skills">Laravel</span>
    <span class="skills">Filament</span>
    <span class="skills">Docker</span>
    <span class="skills">MYSQL</span>
    <span class="skills">PLSQL</span>
    <span class="skills">MongoDB</span>
    <span class="skills">Ollama (LLM)</span>
  </div>

  <!-- CTA -->
  <div class="cta flex flex-wrap justify-center gap-6 mt-8">
    <a href="/portafolio">
    <button class="cta-component">
      Ver mis proyectos
    </button>
    </a>
    <a href="https://github.com/Ivan-del3" target="_blank">
    <button class="cta-component">
      Mi GitHub
    </button>
    </a>
    <a href="/cv" target="_blank">
    <button class="cta-component">
      Ver CV
    </button>
    </a>
    <a href="https://www.linkedin.com/in/iv%C3%A1n-delgado-2949713b8/" target="_blank">
    <button class="cta-component">
      Linkedin
    </button>
    </a>

    
  </div>
</section>


</Layout>
