---
import IconEmail from "./icons/IconEmail.astro";
import IconWhatsApp from "./icons/IconWhatsApp.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";
import IconGitHub from "./icons/IconGitHub.astro";
---
<section id="contacto" class="box-style scroll-section">
  <h2 class="box-general-title text-center">Contacto</h2>

  <div class="flex flex-wrap justify-center gap-6 mt-8">

    <a href="mailto:ivandelgado31298@gmail.com" class="cta-component flex items-center gap-2">
      <IconEmail /> Email
    </a>

    <a href="https://wa.me/34XXXXXXXXX" target="_blank" class="cta-component flex items-center gap-2">
      <IconWhatsApp /> WhatsApp
    </a>

    <a href="https://www.linkedin.com/in/iv%C3%A1n-delgado-alcobenda-2949713b8/" target="_blank" class="cta-component flex items-center gap-2">
      <IconLinkedIn /> LinkedIn
    </a>

    <a href="https://github.com/Ivan-del3" target="_blank" class="cta-component flex items-center gap-2">
      <IconGitHub /> GitHub
    </a>

  </div>
</section>
