---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import DropdownMenu from '../components/DropdownMenu.jsx';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mi Portfolio</title>
    <ClientRouter />
  </head>

  <body class="flex flex-col min-h-screen global-style">

  <header class="header-style">
        <div class="max-w-6xl mx-auto py-0  sm:pl-10 sm:pr-22 md:pl-8 pr-12 py-3 xl:py-12  flex items-center justify-between xl:justify-center">

          <div class="logo">
            <a href="/">
              <img
                src="/marca-personal7.png"
                alt="Iván Delgado - Marca Personal"
                class="h-22 xl:h-26 object-contain transition-transform duration-300 hover:scale-105"
              />
            </a>
          </div>

          <!-- <button id="menu-btn" class="md:hidden text-3xl text-[#22233A] z-50">
            ☰
          </button> -->
          <DropdownMenu client:visible/>

          <nav id="menu" class="nav-main hidden md:flex">
            <a href="/" class="nav-link">Sobre mí</a>
            <a href="/portfolio" class="nav-link">Portfolio</a>
            <a href="/cv" class="nav-link" target="_blank">CV</a>
            <a href="/contacto" class="nav-link">Contacto</a>
          </nav>
        </div>
      </header>

    <main class="main-container flex-1 w-full">
      <slot />
    </main>

    <footer class="site-footer">
      <div class="mt-2 tracking-wide">
        © 2026 Iván Delgado
      </div>
    </footer>

  </body>
</html>